@font-face{
    font-family: InterRegular;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/InterRegular.woff2),
         url(../fonts/InterRegular.woff);
    font-display: swap;
  }